# Source
src/

# Tests
tests/
*.test.ts
*.spec.ts

# Config files
tsconfig.json
.gitignore
.github
.DS_Store
bun.lock

# IDE
.vscode/
.idea/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log* 
